name: mirror-AOSP-car-samples

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight
  workflow_dispatch:  # Allows the workflow to be run manually

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        # Fetch all history for all branches and tags
        fetch-depth: '0'

    - name: Set up Git
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

    - name: Install git-filter-repo
      run: |
        sudo apt-get update
        sudo apt install git-filter-repo

    - name: Get current date
      id: date
      run: echo "date=$(date -u +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Create new branch and run update script
      run: |
        git checkout -b weekly-update/${{ env.date }}
        scripts/get_changes.sh

    - name: Push changes and create Pull Request if commits exist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Check if there are any new commits on this branch compared to the main branch
        if git rev-list main..HEAD --count > 0; then
          echo "Commits found. Pushing branch and creating PR."
          git push --force --set-upstream origin weekly-update/${{ env.date }}
          gh pr create \
            --title "Weekly Update: ${{ env.date }}" \
            --body "This PR contains the weekly update from https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/car/app/app-samples" \
            --base main \
            --head weekly-update/${{ env.date }}
        else
          echo "No new commits found. Skipping PR creation."
        fi
